.app-container {
	margin-top: 60px;
	padding-top: 20px;
}

.scanner-container {
	padding-top: 20px;
}

.cursor-pointer {
	cursor: pointer;
}

.form-control-feedback.fa {
	padding-top: 14px;
	padding-right: 15px;
}

.light {
	opacity: 0.5;
}

.scanner-row {
	font-size: 2em;
}

.btn-xl, .btn-group-xl > .btn {
	padding: 18px 27px;
	font-size: 22px;
	line-height: 1.8;
	border-radius: 6px;
}

.btn {
	touch-action: manipulation
}